In [24]:
import requests
import json
import pandas as pd

## Get basic data about players and gameweeks

In [25]:
response = requests.get('https://fantasy.allsvenskan.se/api/bootstrap-static/')

In [26]:
with open('data/during-season/bootstrap-static.json', 'w+') as json_file:
    json.dump(response.json(), json_file, indent=2)

## Get all players detailed data

In [27]:
data = response.json();
player_data = pd.DataFrame(data['elements'])
player_data.sample(5)

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,saves,own_goals,attacking_bonus,defending_bonus,winning_goals,crosses,key_passes,big_chances_created,clearances_blocks_interceptions,recoveries
423,NaN,NaN,463379,0,0,0,0,0,3,1.0,...,0,0,0,0,0,0,0,0,0,0
301,NaN,NaN,97528,0,0,0,0,0,3,2.4,...,0,0,0,0,0,0,0,0,4,3
303,NaN,NaN,65898,0,0,0,0,0,1,2.0,...,0,0,0,0,0,0,0,0,0,0
421,NaN,NaN,102407,0,0,0,0,0,3,1.5,...,0,0,0,0,0,0,0,0,0,0
19,NaN,NaN,512780,0,0,0,0,0,3,1.0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
player_data.shape[0]

430

In [29]:
from IPython.display import clear_output

df_height = player_data.shape[0]

for index, player in player_data.iterrows():
    player_id = str(player['id'])
    first_name = player['first_name']
    last_name = player['second_name']
    
    
    clear_output(wait=True)
    print(f'Getting player {player_id} {first_name} {last_name} (Total: {df_height})')

    player_response = requests.get(f'https://fantasy.allsvenskan.se/api/element-summary/{player_id}/')
    
    file_name = f"{player_id.rjust(3, '0')}_{first_name}_{last_name}".replace(' ', '_')
    with open(f'data/during-season/players/{file_name}.json', 'w+') as player_file:
        json.dump(player_response.json(), player_file, indent=2)
        
clear_output(wait=True)
print('Done!')

Done!