In [1]:
import json
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
# Load player history (training data)
# df_train = pd.read_csv('data/during-season/player_history.csv', parse_dates=['kickoff_time'])
df_train = pd.read_csv('data/during-season/player_history.csv')

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13358 entries, 0 to 13357
Data columns (total 37 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   player_id                        13358 non-null  int64
 1   fixture                          13358 non-null  int64
 2   opponent_team_id                 13358 non-null  int64
 3   total_points                     13358 non-null  int64
 4   was_home                         13358 non-null  bool
 5   kickoff_time                     13358 non-null  object
 6   team_h_score                     13358 non-null  int64
 7   team_a_score                     13358 non-null  int64
 8   round                            13358 non-null  int64
 9   minutes                          13358 non-null  int64
 10  goals_scored                     13358 non-null  int64
 11  assists                          13358 non-null  int64
 12  clean_sheets                     13358 non-null  int64
 13  goals_conceded                   13358 non-null  int64
 14  penalties_saved                  13358 non-null  int64
 15  penalties_missed                 13358 non-null  int64
 16  yellow_cards                     13358 non-null  int64
 17  red_cards                        13358 non-null  int64
 18  saves                            13358 non-null  int64
 19  own_goals                        13358 non-null  int64
 20  attacking_bonus                  13358 non-null  int64
 21  defending_bonus                  13358 non-null  int64
 22  winning_goals                    13358 non-null  int64
 23  crosses                          13358 non-null  int64
 24  key_passes                       13358 non-null  int64
 25  big_chances_created              13358 non-null  int64
 26  clearances_blocks_interceptions  13358 non-null  int64
 27  recoveries                       13358 non-null  int64
 28  value                            13358 non-null  int64
 29  transfers_balance                13358 non-null  int64
 30  selected                         13358 non-null  int64
 31  transfers_in                     13358 non-null  int64
 32  transfers_out                    13358 non-null  int64
 33  name                             13358 non-null  object
 34  team_id                          13358 non-null  int64
 35  team                             13358 non-null  object
 36  opponent_team                    13358 non-null  object
dtypes: bool(1), int64(32), object(4)
memory usage: 3.7+ MB

In [4]:
df_train.tail(5)

,player_id,fixture,opponent_team_id,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,minutes,...,recoveries,value,transfers_balance,selected,transfers_in,transfers_out,name,team_id,team,opponent_team
13353,526,218,17,0,True,2022-10-24T17:00:00Z,4,0,28,0,...,0,40,0,8,0,0,André Picornell,7,Djurgården,GIF Sundsvall
13354,527,217,6,0,False,2022-10-23T15:30:00Z,2,1,28,0,...,0,40,0,0,0,0,Elison Makolli,1,Malmö FF,BK Häcken
13355,528,218,17,0,True,2022-10-24T17:00:00Z,4,0,28,0,...,0,45,0,0,0,0,Alexandros Garcia-Tsotidis,7,Djurgården,GIF Sundsvall
13356,529,221,4,0,False,2022-10-24T17:10:00Z,1,0,28,0,...,0,40,0,0,0,0,Vincent Sundberg,12,AIK,IFK Göteborg
13357,530,222,9,0,True,2022-10-24T17:00:00Z,1,1,28,0,...,0,45,0,0,0,0,Kenan Bilalovic,18,IFK Värnamo,IFK Norrköping

In [5]:
df_tmp_X = df_train[['round', 'player_id', 'team', 'opponent_team', 'was_home']]
train_y = df_train[['total_points']]

In [6]:
df_tmp_X.tail(20)

       round  player_id             team    opponent_team  was_home
13338     26        522        IK Sirius   IFK Norrköping      True
13339     27        522        IK Sirius         Hammarby     False
13340     28        522        IK Sirius        Kalmar FF      True
13341     25        523   IFK Norrköping      Mjällby AIF      True
13342     26        523   IFK Norrköping        IK Sirius     False
13343     27        523   IFK Norrköping  Helsingborgs IF      True
13344     28        523   IFK Norrköping      IFK Värnamo     False
13345     26        524    GIF Sundsvall        BK Häcken     False
13346     27        524    GIF Sundsvall      IFK Värnamo      True
13347     28        524    GIF Sundsvall       Djurgården     False
13348     26        525  Helsingborgs IF    Varbergs BoIS      True
13349     27        525  Helsingborgs IF   IFK Norrköping     False
13350     28        525  Helsingborgs IF     Degerfors IF      True
13351     26        526       Djurgården              AIK      True
13352     27        526       Djurgården         Malmö FF     False
13353     28        526       Djurgården    GIF Sundsvall      True
13354     28        527         Malmö FF        BK Häcken     False
13355     28        528       Djurgården    GIF Sundsvall      True
13356     28        529              AIK     IFK Göteborg     False
13357     28        530      IFK Värnamo   IFK Norrköping      True

In [7]:
df_tmp_X.nunique()

round             28
player_id        530
team              16
opponent_team     16
was_home           2
dtype: int64

In [8]:
df_tmp_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13358 entries, 0 to 13357
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   round          13358 non-null  int64
 1   player_id      13358 non-null  int64
 2   team           13358 non-null  object
 3   opponent_team  13358 non-null  object
 4   was_home       13358 non-null  bool
dtypes: bool(1), int64(2), object(2)
memory usage: 430.6+ KB

In [9]:
df_tmp_X.tail()

       round  player_id         team   opponent_team  was_home
13353     28        526   Djurgården   GIF Sundsvall      True
13354     28        527     Malmö FF       BK Häcken     False
13355     28        528   Djurgården   GIF Sundsvall      True
13356     28        529          AIK    IFK Göteborg     False
13357     28        530  IFK Värnamo  IFK Norrköping      True

## Preprocessing Data

In [10]:
df_tmp_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13358 entries, 0 to 13357
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   round          13358 non-null  int64
 1   player_id      13358 non-null  int64
 2   team           13358 non-null  object
 3   opponent_team  13358 non-null  object
 4   was_home       13358 non-null  bool
dtypes: bool(1), int64(2), object(2)
memory usage: 430.6+ KB

In [11]:
def preprocess_col_gw(df):
    # Make column a category
    df['round'] = df['round'].astype('category')
    
    # Let the column know the range and order of the category
    ordered_gws = list(range(1,31))
    df['round'] = df['round'].cat.set_categories(ordered_gws, ordered=True)
    
    
    df['player_id'] = df['player_id'].astype('category')
    
    return df

preprocess_col_gw(df_tmp_X)

<ipython-input-11-63110d91bb4b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['round'] = df['round'].astype('category')
<ipython-input-11-63110d91bb4b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['round'] = df['round'].cat.set_categories(ordered_gws, ordered=True)
<ipython-input-11-63110d91bb4b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_id'] = df['player_id'].astype('category')

      round player_id         team   opponent_team  was_home
0         1         1     Malmö FF       Kalmar FF     False
1         2         1     Malmö FF     IF Elfsborg      True
2         3         1     Malmö FF             AIK      True
3         4         1     Malmö FF     IFK Värnamo     False
4         5         1     Malmö FF    IFK Göteborg      True
...     ...       ...          ...             ...       ...
13353    28       526   Djurgården   GIF Sundsvall      True
13354    28       527     Malmö FF       BK Häcken     False
13355    28       528   Djurgården   GIF Sundsvall      True
13356    28       529          AIK    IFK Göteborg     False
13357    28       530  IFK Värnamo  IFK Norrköping      True

[13358 rows x 5 columns]

In [12]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

#df_tmp_X['round'] = le.fit_transform(df_tmp_X['round'])

In [13]:
# We need to encode the strings for the scikit model to be able to handle them
# Label encoding for ordered data eg. Low, Medium, High
# OneHot encoding for unordered data
# https://towardsdatascience.com/encoding-categorical-features-21a2651a065c

from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer

def preprocess(df):    
    categorical_features = ["player_id", "team", "opponent_team"]
    one_hot = OneHotEncoder()
    transformer = ColumnTransformer([("one_hot",
                                      one_hot,
                                     categorical_features)],
                                     remainder="passthrough")

    transformed = transformer.fit_transform(df).toarray()
    transformed = pd.DataFrame(transformed)
    return transformed

transformed_X = preprocess(df_tmp_X)
transformed_X

/usr/local/Caskroom/miniconda/base/envs/env/lib/python3.9/site-packages/sklearn/utils/validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)

,0,1,2,3,4,5,6,7,8,9,...,554,555,556,557,558,559,560,561,562,563
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13353,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,1.0
13354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,0.0
13355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,1.0
13356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,0.0
13357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,1.0

In [14]:
# Ok, appearantly, there is an easier way to do that.. but we will skip this for now
dummies = pd.get_dummies(df_tmp_X[["player_id", "team", "opponent_team"]])
dummies

,player_id_1,player_id_2,player_id_3,player_id_4,player_id_5,player_id_6,player_id_7,player_id_8,player_id_9,player_id_10,...,opponent_team_Helsingborgs IF,opponent_team_IF Elfsborg,opponent_team_IFK Göteborg,opponent_team_IFK Norrköping,opponent_team_IFK Värnamo,opponent_team_IK Sirius,opponent_team_Kalmar FF,opponent_team_Malmö FF,opponent_team_Mjällby AIF,opponent_team_Varbergs BoIS
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13353,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13354,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13355,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13356,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13357,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [15]:
# Convert strings into pandas category codes since the regressor model cannot handle strings
# for label, content in df_tmp.items():
    # if pd.api.types.is_string_dtype(content):
        # df_tmp[label] = content.astype("category")
#         df_tmp[label] = pd.Categorical(content).codes

In [16]:
# transformed.to_csv('data/during-season/df_transformed.csv', index=False)

In [17]:
# df_tmp = pd.read_csv('data/during-season/df_tmp.csv')

## Build model

In [18]:
train_X = transformed_X

In [19]:
%%time
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_jobs=-1, random_state=1234)
model.fit(train_X, train_y.values.ravel())

CPU times: user 14min 14s, sys: 2.66 s, total: 14min 16s
Wall time: 1min 56s

RandomForestRegressor(n_jobs=-1, random_state=1234)

In [20]:
def plot_feature_importance(columns, importances):
    df = (pd.DataFrame({'features': columns, 'feature_importances': importances})
          .sort_values('feature_importances', ascending=False))
    
    fig, ax = plt.subplots()
    ax.barh(df['features'], df['feature_importances'])
    ax.set_ylabel("Features")
    ax.set_xlabel("Feature importance")
    ax.invert_yaxis()

In [21]:
# plot_feature_importance(df_tmp_X.columns, model.feature_importances_)

In [22]:
df_tmp_X.shape

(13358, 5)

In [23]:
df_tmp_X.sample(5)

      round player_id            team  opponent_team  was_home
4380     12       157    IFK Göteborg   Degerfors IF      True
9298      3       333   Varbergs BoIS  GIF Sundsvall      True
11491    13       411     IFK Värnamo  GIF Sundsvall      True
7435     16       266  IFK Norrköping   IFK Göteborg     False
6940     25       248      Djurgården      BK Häcken      True

In [24]:
df_tmp_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13358 entries, 0 to 13357
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   round          13358 non-null  category
 1   player_id      13358 non-null  category
 2   team           13358 non-null  object
 3   opponent_team  13358 non-null  object
 4   was_home       13358 non-null  bool
dtypes: bool(1), category(2), object(2)
memory usage: 282.6+ KB

In [25]:
import numpy as np
import scipy as sp
from scipy.cluster import hierarchy as hc
import seaborn as sns

def cluster_columns(df, figsize=(10,6), font_size=12):
    corr = sp.stats.spearmanr(df).correlation
    
    fix, ax = plt.subplots(figsize=(10, 15))
    ax = sns.heatmap(corr, annot=True, linewidths=0.5, fmt='.3f', cmap='YlGnBu')
    plt.show()
    
# cluster_columns(df_tmp_X)

In [26]:
from scipy.cluster.hierarchy import dendrogram, linkage

def cluster_columns(df):
    print(df.shape)
    linked = linkage(df)
    print(linked.shape)
    
    
# cluster_columns(df_tmp_X)

In [27]:
import numpy as np
from scipy.cluster import hierarchy as hc
from scipy.spatial.distance import pdist, squareform
from scipy.cluster.hierarchy import linkage, dendrogram


def cluster_columns(df, figsize=(20,16), font_size=12):
    corr = np.round(sp.stats.spearmanr(df).correlation, 4)
    corr_condensed = hc.distance.squareform(1-corr)
    z = hc.linkage(corr_condensed, method='average')
    fig = plt.figure(figsize=figsize)
    hc.dendrogram(z, labels=df.columns, orientation='left', leaf_font_size=font_size)
    plt.show()
    
# cluster_columns(df_tmp_X)

## Predict

In [28]:
# Show train data to see correct format
df_tmp_X.head()

  round player_id      team opponent_team  was_home
0     1         1  Malmö FF     Kalmar FF     False
1     2         1  Malmö FF   IF Elfsborg      True
2     3         1  Malmö FF           AIK      True
3     4         1  Malmö FF   IFK Värnamo     False
4     5         1  Malmö FF  IFK Göteborg      True

### Get data to predict

In [29]:
df_all_player_fixtures = pd.read_csv('data/during-season/player_fixtures.csv')

In [30]:
df_all_player_fixtures.nunique()

id                         16
code                       16
team_h                     16
team_h_score                0
team_a                     16
team_a_score                0
event                       2
finished                    1
minutes                     1
provisional_start_time      1
kickoff_time                6
event_name                  2
is_home                     2
player_id                 530
name                      528
team_id                    16
opponent_team_id           16
team                       16
opponent_team              16
dtype: int64

In [31]:
df_all_player_fixtures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1060 non-null   int64
 1   code                    1060 non-null   int64
 2   team_h                  1060 non-null   int64
 3   team_h_score            0 non-null      float64
 4   team_a                  1060 non-null   int64
 5   team_a_score            0 non-null      float64
 6   event                   1060 non-null   int64
 7   finished                1060 non-null   bool
 8   minutes                 1060 non-null   int64
 9   provisional_start_time  1060 non-null   bool
 10  kickoff_time            1060 non-null   object
 11  event_name              1060 non-null   object
 12  is_home                 1060 non-null   bool
 13  player_id               1060 non-null   int64
 14  name                    1060 non-null   object
 15  team_id                 1060 non-null   int64
 16  opponent_team_id        1060 non-null   int64
 17  team                    1060 non-null   object
 18  opponent_team           1060 non-null   object
dtypes: bool(3), float64(2), int64(9), object(5)
memory usage: 135.7+ KB

In [32]:
# Next gameweek to predict
gw_to_predict = df_all_player_fixtures['event'].min()
print("Gameweek to predict:", gw_to_predict)

Gameweek to predict: 29

In [33]:
df_all_player_fixtures[df_all_player_fixtures['event'] == 16]

Empty DataFrame
Columns: [id, code, team_h, team_h_score, team_a, team_a_score, event, finished, minutes, provisional_start_time, kickoff_time, event_name, is_home, player_id, name, team_id, opponent_team_id, team, opponent_team]
Index: []

In [34]:
df_predict = df_all_player_fixtures[['event', 'player_id', 'team', 'opponent_team', 'is_home']]
df_predict = df_predict.rename(columns={'event': 'round', 'is_home': 'was_home'})
df_predict = df_predict[df_predict['round'] == gw_to_predict]
df_predict.head(20)

    round  player_id         team  opponent_team  was_home
0      29          1     Malmö FF  Varbergs BoIS     False
2      29          2     Malmö FF  Varbergs BoIS     False
4      29          3     Malmö FF  Varbergs BoIS     False
6      29          4     Malmö FF  Varbergs BoIS     False
8      29          5     Malmö FF  Varbergs BoIS     False
10     29          6     Malmö FF  Varbergs BoIS     False
12     29          7     Malmö FF  Varbergs BoIS     False
14     29          8     Malmö FF  Varbergs BoIS     False
16     29          9     Malmö FF  Varbergs BoIS     False
18     29         10     Malmö FF  Varbergs BoIS     False
20     29         11     Malmö FF  Varbergs BoIS     False
22     29         12     Malmö FF  Varbergs BoIS     False
24     29         13     Malmö FF  Varbergs BoIS     False
26     29         14     Malmö FF  Varbergs BoIS     False
28     29         15     Malmö FF  Varbergs BoIS     False
30     29         16     Malmö FF  Varbergs BoIS     False
32     29         17    Kalmar FF       Hammarby     False
34     29         18     Malmö FF  Varbergs BoIS     False
36     29         19  IFK Värnamo   Degerfors IF     False
38     29         20     Malmö FF  Varbergs BoIS     False

In [35]:
df_predict.loc[df_predict.duplicated(subset=['player_id'])]

Empty DataFrame
Columns: [round, player_id, team, opponent_team, was_home]
Index: []

In [36]:
df_tmp_X.nunique()

round             28
player_id        530
team              16
opponent_team     16
was_home           2
dtype: int64

In [37]:
df_predict.nunique()

round              1
player_id        530
team              16
opponent_team     16
was_home           2
dtype: int64

In [38]:
# Check if there are any new players that we are not able to predict yet since they have no game history
num_training_players = df_tmp_X['player_id'].nunique()
print("Unique player names in training data:", num_training_players)
num_predict_players = df_predict['player_id'].nunique()
print("Unique player names in predict data:", num_predict_players)
if (num_training_players != num_predict_players):
    print("\n⚠️ Number of players in predicted data but not in training:", num_predict_players - num_training_players)
    
    missing_player_index = np.where(np.isin(df_predict['player_id'], df_tmp_X['player_id']) == False)
    missing_players_in_training = df_predict['player_id'].unique()[missing_player_index]
    print("Missing player ids in training data:", ", ".join(str(id) for id in missing_players_in_training))

    print("Removing those players from predict data...")
    df_predict_clean = df_predict[df_predict['player_id'].isin(df_tmp_X['player_id'].unique())]
    print("Unique player names in predict data after cleanup:", df_predict_clean['player_id'].nunique())
else:
    print("All players in prediction data found in training data!")
    df_predict_clean = df_predict

Unique player names in training data: 530
Unique player names in predict data: 530
All players in prediction data found in training data!

In [39]:
df_predict_transformed = preprocess(df_predict_clean)

### Make prediction

In [40]:
predicted = model.predict(df_predict_transformed)

In [41]:
df_predicted = pd.DataFrame(predicted)
df_predicted

        0
0    0.46
1    1.13
2    0.32
3    0.18
4    1.26
..    ...
525  0.02
526  0.00
527  0.02
528  0.00
529  0.00

[530 rows x 1 columns]

In [42]:
df_predict.reset_index(drop=True, inplace=True)
df_predicted.reset_index(drop=True, inplace=True)
df_result = df_predict.join(df_predicted)
df_result.rename(columns={0: 'predicted_points'}, inplace=True)
df_result.sort_values(by='predicted_points', ascending=False, inplace=True)

# Print the top predicted points for round
df_result.head(20)

,round,player_id,team,opponent_team,was_home,predicted_points
138,29,139,Malmö FF,Varbergs BoIS,False,8.43
62,29,63,IFK Värnamo,Degerfors IF,False,8.13
183,29,184,Degerfors IF,IFK Värnamo,True,8.00
241,29,242,Djurgården,IFK Norrköping,False,7.12
109,29,110,Hammarby,Kalmar FF,True,6.79
227,29,228,BK Häcken,IFK Göteborg,False,6.57
339,29,340,Varbergs BoIS,Malmö FF,True,6.26
387,29,388,Degerfors IF,IFK Värnamo,True,5.98
134,29,135,Kalmar FF,Hammarby,False,5.73
205,29,206,BK Häcken,IFK Göteborg,False,5.71
454,29,455,AIK,Mjällby AIF,False,5.64
16,29,17,Kalmar FF,Hammarby,False,5.62
479,29,480,Djurgården,IFK Norrköping,False,5.59
259,29,260,IFK Norrköping,Djurgården,True,5.55
400,29,401,Degerfors IF,IFK Värnamo,True,5.50
498,29,499,IFK Norrköping,Djurgården,True,5.49
221,29,222,BK Häcken,IFK Göteborg,False,5.49
131,29,132,IK Sirius,GIF Sundsvall,False,5.45
72,29,73,IFK Värnamo,Degerfors IF,False,5.42
477,29,478,Degerfors IF,IFK Värnamo,True,5.22

In [43]:
df_result.tail()

     round  player_id         team opponent_team  was_home  predicted_points
294     29        295    Kalmar FF      Hammarby     False               0.0
300     29        301    Kalmar FF      Hammarby     False               0.0
302     29        303    Kalmar FF      Hammarby     False               0.0
303     29        304          AIK   Mjällby AIF     False               0.0
529     29        530  IFK Värnamo  Degerfors IF     False               0.0

In [44]:
missing_players_in_training

NameError: name 'missing_players_in_training' is not defined

In [ ]:
df_result[df_result['player_id'].isin(missing_players_in_training)]

In [45]:
df_result[df_result['predicted_points'].isna()]

Empty DataFrame
Columns: [round, player_id, team, opponent_team, was_home, predicted_points]
Index: []

### Add "predicted point/cost"

In [46]:
# Get latest price for every player

# Load all player season history into a single data frame
with open('data/during-season/bootstrap-static.json', 'r') as json_file:
    data = json.loads(json_file.read())    
df_player_overview = pd.json_normalize(data, record_path='elements')
df_player_overview['name'] = df_player_overview["first_name"] + ' ' + df_player_overview["second_name"]
df_player_overview = df_player_overview.rename(columns={'id': 'player_id'})

In [47]:
df_player_overview.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 56 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   chance_of_playing_next_round     350 non-null    float64
 1   chance_of_playing_this_round     347 non-null    float64
 2   code                             530 non-null    int64
 3   cost_change_event                530 non-null    int64
 4   cost_change_event_fall           530 non-null    int64
 5   cost_change_start                530 non-null    int64
 6   cost_change_start_fall           530 non-null    int64
 7   dreamteam_count                  530 non-null    int64
 8   element_type                     530 non-null    int64
 9   ep_next                          530 non-null    object
 10  ep_this                          530 non-null    object
 11  event_points                     530 non-null    int64
 12  first_name                       530 non-null    object
 13  form                             530 non-null    object
 14  player_id                        530 non-null    int64
 15  in_dreamteam                     530 non-null    bool
 16  news                             530 non-null    object
 17  news_added                       350 non-null    object
 18  now_cost                         530 non-null    int64
 19  photo                            530 non-null    object
 20  points_per_game                  530 non-null    object
 21  second_name                      530 non-null    object
 22  selected_by_percent              530 non-null    object
 23  special                          530 non-null    bool
 24  squad_number                     0 non-null      object
 25  status                           530 non-null    object
 26  team                             530 non-null    int64
 27  team_code                        530 non-null    int64
 28  total_points                     530 non-null    int64
 29  transfers_in                     530 non-null    int64
 30  transfers_in_event               530 non-null    int64
 31  transfers_out                    530 non-null    int64
 32  transfers_out_event              530 non-null    int64
 33  value_form                       530 non-null    object
 34  value_season                     530 non-null    object
 35  web_name                         530 non-null    object
 36  minutes                          530 non-null    int64
 37  goals_scored                     530 non-null    int64
 38  assists                          530 non-null    int64
 39  clean_sheets                     530 non-null    int64
 40  goals_conceded                   530 non-null    int64
 41  penalties_saved                  530 non-null    int64
 42  penalties_missed                 530 non-null    int64
 43  yellow_cards                     530 non-null    int64
 44  red_cards                        530 non-null    int64
 45  saves                            530 non-null    int64
 46  own_goals                        530 non-null    int64
 47  attacking_bonus                  530 non-null    int64
 48  defending_bonus                  530 non-null    int64
 49  winning_goals                    530 non-null    int64
 50  crosses                          530 non-null    int64
 51  key_passes                       530 non-null    int64
 52  big_chances_created              530 non-null    int64
 53  clearances_blocks_interceptions  530 non-null    int64
 54  recoveries                       530 non-null    int64
 55  name                             530 non-null    object
dtypes: bool(2), float64(2), int64(36), object(16)
memory usage: 224.8+ KB

In [48]:
df_player_overview.set_index('player_id')

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,own_goals,attacking_bonus,defending_bonus,winning_goals,crosses,key_passes,big_chances_created,clearances_blocks_interceptions,recoveries,name
player_id,,,,,,,,,,,,,,,,,,,,,
1,100.0,100.0,52251,0,0,-1,1,0,1,0.2,...,0,0,0,0,0,0,0,124,118,Johan Dahlin
2,NaN,NaN,531041,0,0,0,0,0,1,3.2,...,0,0,0,0,0,0,0,105,97,Ismael Diawara
3,0.0,0.0,50448,0,0,-2,2,0,2,0.0,...,0,1,9,0,1,6,0,94,67,Niklas Moisander
4,100.0,0.0,82187,0,0,0,0,0,2,1.6,...,0,2,4,0,3,6,0,56,37,Jonas Knudsen
5,0.0,50.0,54433,0,0,2,-2,1,2,0.0,...,1,1,26,0,2,4,2,286,145,Lasse Nielsen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,NaN,NaN,548952,0,0,0,0,0,1,0.0,...,0,0,0,0,0,0,0,0,0,André Picornell
527,NaN,NaN,551046,0,0,0,0,0,2,1.3,...,0,0,0,0,0,0,0,0,0,Elison Makolli
528,NaN,NaN,590276,0,0,0,0,0,4,1.2,...,0,0,0,0,0,0,0,0,0,Alexandros Garcia-Tsotidis
529,NaN,NaN,586542,0,0,0,0,0,2,1.3,...,0,0,0,0,0,0,0,0,0,Vincent Sundberg
530,NaN,NaN,601691,0,0,0,0,0,3,1.3,...,0,0,0,0,0,0,0,0,0,Kenan Bilalovic

In [49]:
def enrich_player_name(df):
    df['name'] = df['player_id'].map(df_player_overview['name'])

In [50]:
enrich_player_name(df_result)

In [51]:
df_result

,round,player_id,team,opponent_team,was_home,predicted_points,name
138,29,139,Malmö FF,Varbergs BoIS,False,8.43,Adam Hellborg
62,29,63,IFK Värnamo,Degerfors IF,False,8.13,Erick Brendon
183,29,184,Degerfors IF,IFK Värnamo,True,8.00,Kevin Holmén
241,29,242,Djurgården,IFK Norrköping,False,7.12,Gustav Wikheim
109,29,110,Hammarby,Kalmar FF,True,6.79,Mads Fenger
...,...,...,...,...,...,...,...
294,29,295,Kalmar FF,Hammarby,False,0.00,Romario Pereira Sipião
300,29,301,Kalmar FF,Hammarby,False,0.00,Simon Skrabb
302,29,303,Kalmar FF,Hammarby,False,0.00,Budimir Janosevic
303,29,304,AIK,Mjällby AIF,False,0.00,Kristoffer Nordfeldt
529,29,530,IFK Värnamo,Degerfors IF,False,0.00,NaN

In [52]:
df_player_overview.tail()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,own_goals,attacking_bonus,defending_bonus,winning_goals,crosses,key_passes,big_chances_created,clearances_blocks_interceptions,recoveries,name
525,NaN,NaN,548952,0,0,0,0,0,1,0.0,...,0,0,0,0,0,0,0,0,0,André Picornell
526,NaN,NaN,551046,0,0,0,0,0,2,1.3,...,0,0,0,0,0,0,0,0,0,Elison Makolli
527,NaN,NaN,590276,0,0,0,0,0,4,1.2,...,0,0,0,0,0,0,0,0,0,Alexandros Garcia-Tsotidis
528,NaN,NaN,586542,0,0,0,0,0,2,1.3,...,0,0,0,0,0,0,0,0,0,Vincent Sundberg
529,NaN,NaN,601691,0,0,0,0,0,3,1.3,...,0,0,0,0,0,0,0,0,0,Kenan Bilalovic

In [53]:
df_player_overview
df_result['price (M)'] = df_result['player_id'].map(df_player_overview['now_cost']/10)
df_result

# Calculate points/price
df_result['predicted_point_per_price'] = df_result['predicted_points']/df_result['price (M)']
df_result.sort_values(by=['predicted_point_per_price'], ascending=False, inplace=True)

In [54]:
df_result

,round,player_id,team,opponent_team,was_home,predicted_points,name,price (M),predicted_point_per_price
183,29,184,Degerfors IF,IFK Värnamo,True,8.00,Kevin Holmén,4.3,1.860465
138,29,139,Malmö FF,Varbergs BoIS,False,8.43,Adam Hellborg,4.6,1.832609
62,29,63,IFK Värnamo,Degerfors IF,False,8.13,Erick Brendon,4.8,1.693750
259,29,260,IFK Norrköping,Djurgården,True,5.55,Oliver Stefansson,3.9,1.423077
339,29,340,Varbergs BoIS,Malmö FF,True,6.26,Albin Winbo,4.4,1.422727
...,...,...,...,...,...,...,...,...,...
121,29,122,Hammarby,Kalmar FF,True,0.00,Dennis Collander,5.0,0.000000
122,29,123,Hammarby,Kalmar FF,True,0.00,Gustav Ludwigson,10.0,0.000000
124,29,125,Hammarby,Kalmar FF,True,0.00,Astrit Selmani,9.0,0.000000
303,29,304,AIK,Mjällby AIF,False,0.00,Kristoffer Nordfeldt,6.0,0.000000
529,29,530,IFK Värnamo,Degerfors IF,False,0.00,NaN,NaN,NaN