In [1]:
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
# Load player history (training data)
# df_train = pd.read_csv('data/during-season/player_history.csv', parse_dates=['kickoff_time'])
df_train = pd.read_csv('data/during-season/player_history.csv')

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2663 entries, 0 to 2662
Data columns (total 37 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   element                          2663 non-null   int64
 1   fixture                          2663 non-null   int64
 2   opponent_team                    2663 non-null   object
 3   total_points                     2663 non-null   int64
 4   was_home                         2663 non-null   bool
 5   kickoff_time                     2663 non-null   object
 6   team_h_score                     2663 non-null   int64
 7   team_a_score                     2663 non-null   int64
 8   round                            2663 non-null   int64
 9   minutes                          2663 non-null   int64
 10  goals_scored                     2663 non-null   int64
 11  assists                          2663 non-null   int64
 12  clean_sheets                     2663 non-null   int64
 13  goals_conceded                   2663 non-null   int64
 14  penalties_saved                  2663 non-null   int64
 15  penalties_missed                 2663 non-null   int64
 16  yellow_cards                     2663 non-null   int64
 17  red_cards                        2663 non-null   int64
 18  saves                            2663 non-null   int64
 19  own_goals                        2663 non-null   int64
 20  attacking_bonus                  2663 non-null   int64
 21  defending_bonus                  2663 non-null   int64
 22  winning_goals                    2663 non-null   int64
 23  crosses                          2663 non-null   int64
 24  key_passes                       2663 non-null   int64
 25  big_chances_created              2663 non-null   int64
 26  clearances_blocks_interceptions  2663 non-null   int64
 27  recoveries                       2663 non-null   int64
 28  value                            2663 non-null   int64
 29  transfers_balance                2663 non-null   int64
 30  selected                         2663 non-null   int64
 31  transfers_in                     2663 non-null   int64
 32  transfers_out                    2663 non-null   int64
 33  name                             2663 non-null   object
 34  team_id                          2663 non-null   int64
 35  team                             2663 non-null   object
 36  opponent_team_id                 2663 non-null   int64
dtypes: bool(1), int64(32), object(4)
memory usage: 751.7+ KB

In [4]:
df_train.head(5)

,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,minutes,...,recoveries,value,transfers_balance,selected,transfers_in,transfers_out,name,team_id,team,opponent_team_id
0,1,6,Kalmar FF,6,False,2022-04-03T15:30:00Z,0,1,1,90,...,5,60,0,4920,0,0,Johan Dahlin,1,Malmö FF,10
1,1,16,IF Elfsborg,3,True,2022-04-11T17:10:00Z,1,1,2,90,...,6,60,201,5787,284,83,Johan Dahlin,1,Malmö FF,5
2,1,24,AIK,7,True,2022-04-17T13:00:00Z,3,0,3,90,...,11,60,39,5997,127,88,Johan Dahlin,1,Malmö FF,12
3,1,32,IFK Värnamo,7,False,2022-04-21T17:00:00Z,0,0,4,90,...,5,60,241,6355,319,78,Johan Dahlin,1,Malmö FF,18
4,1,39,IFK Göteborg,6,True,2022-04-25T17:10:00Z,1,0,5,90,...,6,60,144,6527,244,100,Johan Dahlin,1,Malmö FF,4

In [5]:
df_tmp_X = df_train[['round', 'name', 'team', 'opponent_team', 'was_home']]
train_y = df_train[['total_points']]

In [6]:
df_tmp_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2663 entries, 0 to 2662
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   round          2663 non-null   int64
 1   name           2663 non-null   object
 2   team           2663 non-null   object
 3   opponent_team  2663 non-null   object
 4   was_home       2663 non-null   bool
dtypes: bool(1), int64(1), object(3)
memory usage: 85.9+ KB

In [7]:
df_tmp_X.head()

   round          name      team opponent_team  was_home
0      1  Johan Dahlin  Malmö FF     Kalmar FF     False
1      2  Johan Dahlin  Malmö FF   IF Elfsborg      True
2      3  Johan Dahlin  Malmö FF           AIK      True
3      4  Johan Dahlin  Malmö FF   IFK Värnamo     False
4      5  Johan Dahlin  Malmö FF  IFK Göteborg      True

## Preprocessing Data

In [8]:
df_tmp_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2663 entries, 0 to 2662
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   round          2663 non-null   int64
 1   name           2663 non-null   object
 2   team           2663 non-null   object
 3   opponent_team  2663 non-null   object
 4   was_home       2663 non-null   bool
dtypes: bool(1), int64(1), object(3)
memory usage: 85.9+ KB

In [9]:
def preprocess_col_gw(df):
    # Make column a category
    df['round'] = df['round'].astype('category')
    
    # Let the column know the range and order of the category
    ordered_gws = list(range(1,31))
    df['round'] = df['round'].cat.set_categories(ordered_gws, ordered=True)
    return df

preprocess_col_gw(df_tmp_X)

<ipython-input-9-4dc78b292f67>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['round'] = df['round'].astype('category')
<ipython-input-9-4dc78b292f67>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['round'] = df['round'].cat.set_categories(ordered_gws, ordered=True)

     round                    name            team  opponent_team  was_home
0        1            Johan Dahlin        Malmö FF      Kalmar FF     False
1        2            Johan Dahlin        Malmö FF    IF Elfsborg      True
2        3            Johan Dahlin        Malmö FF            AIK      True
3        4            Johan Dahlin        Malmö FF    IFK Värnamo     False
4        5            Johan Dahlin        Malmö FF   IFK Göteborg      True
...    ...                     ...             ...            ...       ...
2658     4          Darrell Tibell  IFK Norrköping      BK Häcken      True
2659     5          Darrell Tibell  IFK Norrköping      Kalmar FF     False
2660     6          Darrell Tibell  IFK Norrköping    IFK Värnamo      True
2661     6         Filip Järlesand    Degerfors IF    IF Elfsborg      True
2662     6  Kyriakos Stamatopoulos             AIK  GIF Sundsvall     False

[2663 rows x 5 columns]

In [10]:
df_tmp_X['round']

0       1
1       2
2       3
3       4
4       5
       ..
2658    4
2659    5
2660    6
2661    6
2662    6
Name: round, Length: 2663, dtype: category
Categories (30, int64): [1 < 2 < 3 < 4 ... 27 < 28 < 29 < 30]

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

#df_tmp_X['round'] = le.fit_transform(df_tmp_X['round'])

In [12]:
# We need to encode the strings for the scikit model to be able to handle them
# Label encoding for ordered data eg. Low, Medium, High
# OneHot encoding for unordered data
# https://towardsdatascience.com/encoding-categorical-features-21a2651a065c

from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer

def preprocess(df):    
    categorical_features = ["name", "team", "opponent_team"]
    one_hot = OneHotEncoder()
    transformer = ColumnTransformer([("one_hot",
                                      one_hot,
                                     categorical_features)],
                                     remainder="passthrough")

    transformed = transformer.fit_transform(df).toarray()
    transformed = pd.DataFrame(transformed)
    return transformed

transformed_X = preprocess(df_tmp_X)
transformed_X

/usr/local/Caskroom/miniconda/base/envs/env/lib/python3.9/site-packages/sklearn/utils/validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)

,0,1,2,3,4,5,6,7,8,9,...,460,461,462,463,464,465,466,467,468,469
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0
2659,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,0.0
2660,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,6.0,1.0
2661,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,1.0
2662,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0

In [13]:
# Check number of unique values in columns, just to compare against transformed df
print(df_tmp_X.apply(lambda col: col.nunique()))

round              6
name             436
team              16
opponent_team     16
was_home           2
dtype: int64

In [14]:
# Ok, appearantly, there is an easier way to do that.. but we will skip this for now
dummies = pd.get_dummies(df_tmp_X[["name", "team", "opponent_team"]])
dummies

,name_Abbe Khalili,name_Abdelrahman Saidi,name_Abdul Malik Abubakari,name_Abdussalam Magashy,name_Adam Bergmark Wiberg,name_Adam Carlén,name_Adam Hellborg,name_Adam Ingi Benediktsson,name_Adam Kaied,name_Adam Petersson,...,opponent_team_Helsingborgs IF,opponent_team_IF Elfsborg,opponent_team_IFK Göteborg,opponent_team_IFK Norrköping,opponent_team_IFK Värnamo,opponent_team_IK Sirius,opponent_team_Kalmar FF,opponent_team_Malmö FF,opponent_team_Mjällby AIF,opponent_team_Varbergs BoIS
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2658,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2659,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2660,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2661,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2662,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# Convert strings into pandas category codes since the regressor model cannot handle strings
# for label, content in df_tmp.items():
    # if pd.api.types.is_string_dtype(content):
        # df_tmp[label] = content.astype("category")
#         df_tmp[label] = pd.Categorical(content).codes

In [16]:
# transformed.to_csv('data/during-season/df_transformed.csv', index=False)

In [17]:
# df_tmp = pd.read_csv('data/during-season/df_tmp.csv')

## Build model

In [18]:
train_X = transformed_X

In [19]:
%%time
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_jobs=-1, random_state=1234)
model.fit(train_X, train_y.values.ravel())

CPU times: user 59.6 s, sys: 301 ms, total: 59.9 s
Wall time: 9.16 s

RandomForestRegressor(n_jobs=-1, random_state=1234)

In [20]:
def plot_feature_importance(columns, importances):
    df = (pd.DataFrame({'features': columns, 'feature_importances': importances})
          .sort_values('feature_importances', ascending=False))
    
    fig, ax = plt.subplots()
    ax.barh(df['features'], df['feature_importances'])
    ax.set_ylabel("Features")
    ax.set_xlabel("Feature importance")
    ax.invert_yaxis()

In [21]:
# plot_feature_importance(df_tmp_X.columns, model.feature_importances_)

In [22]:
df_tmp_X.shape

(2663, 5)

In [23]:
df_tmp_X.sample(5)

,round,name,team,opponent_team,was_home
608,6,Anthony Van den Hurk,Helsingborgs IF,Mjällby AIF,False
1287,6,Tomas Totland,BK Häcken,Varbergs BoIS,True
2624,1,Armin Gigovic,Helsingborgs IF,Hammarby,False
1405,3,Jacob Widell Zetterström,Djurgården,IFK Norrköping,True
2293,3,Otto Rosengren,Mjällby AIF,Hammarby,False

In [24]:
df_tmp_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2663 entries, 0 to 2662
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   round          2663 non-null   category
 1   name           2663 non-null   object
 2   team           2663 non-null   object
 3   opponent_team  2663 non-null   object
 4   was_home       2663 non-null   bool
dtypes: bool(1), category(1), object(3)
memory usage: 69.0+ KB

In [25]:
import numpy as np
import scipy as sp
from scipy.cluster import hierarchy as hc
import seaborn as sns

def cluster_columns(df, figsize=(10,6), font_size=12):
    corr = sp.stats.spearmanr(df).correlation
    
    fix, ax = plt.subplots(figsize=(10, 15))
    ax = sns.heatmap(corr, annot=True, linewidths=0.5, fmt='.3f', cmap='YlGnBu')
    plt.show()
    
# cluster_columns(df_tmp_X)

In [26]:
from scipy.cluster.hierarchy import dendrogram, linkage

def cluster_columns(df):
    print(df.shape)
    linked = linkage(df)
    print(linked.shape)
    
    
# cluster_columns(df_tmp_X)

In [27]:
import numpy as np
from scipy.cluster import hierarchy as hc
from scipy.spatial.distance import pdist, squareform
from scipy.cluster.hierarchy import linkage, dendrogram


def cluster_columns(df, figsize=(20,16), font_size=12):
    corr = np.round(sp.stats.spearmanr(df).correlation, 4)
    corr_condensed = hc.distance.squareform(1-corr)
    z = hc.linkage(corr_condensed, method='average')
    fig = plt.figure(figsize=figsize)
    hc.dendrogram(z, labels=df.columns, orientation='left', leaf_font_size=font_size)
    plt.show()
    
# cluster_columns(df_tmp_X)

## Predict

In [28]:
# Show train data to see correct format
df_tmp_X.head()

  round          name      team opponent_team  was_home
0     1  Johan Dahlin  Malmö FF     Kalmar FF     False
1     2  Johan Dahlin  Malmö FF   IF Elfsborg      True
2     3  Johan Dahlin  Malmö FF           AIK      True
3     4  Johan Dahlin  Malmö FF   IFK Värnamo     False
4     5  Johan Dahlin  Malmö FF  IFK Göteborg      True

### Get data to predict

In [29]:
df_all_player_fixtures = pd.read_csv('data/during-season/player_fixtures.csv')

In [30]:
# Next gameweek to predict
gw_to_predict = df_all_player_fixtures['event'].min()

In [31]:
df_predict = df_all_player_fixtures[['event', 'name', 'team', 'opponent_team', 'is_home']]
df_predict = df_predict.rename(columns={'event': 'round', 'is_home': 'was_home'})
df_predict = df_predict[df_predict['round'] == gw_to_predict]
df_predict.head(20)

     round               name      team opponent_team  was_home
0        7       Johan Dahlin  Malmö FF   Mjällby AIF      True
1        7       Johan Dahlin  Malmö FF           AIK     False
24       7     Ismael Diawara  Malmö FF   Mjällby AIF      True
25       7     Ismael Diawara  Malmö FF           AIK     False
48       7   Niklas Moisander  Malmö FF   Mjällby AIF      True
49       7   Niklas Moisander  Malmö FF           AIK     False
72       7      Jonas Knudsen  Malmö FF   Mjällby AIF      True
73       7      Jonas Knudsen  Malmö FF           AIK     False
96       7      Lasse Nielsen  Malmö FF   Mjällby AIF      True
97       7      Lasse Nielsen  Malmö FF           AIK     False
120      7       Eric Larsson  Malmö FF   Mjällby AIF      True
121      7       Eric Larsson  Malmö FF           AIK     False
144      7       Felix Beijmo  Malmö FF   Mjällby AIF      True
145      7       Felix Beijmo  Malmö FF           AIK     False
168      7      Martin Olsson  Malmö FF   Mjällby AIF      True
169      7      Martin Olsson  Malmö FF           AIK     False
192      7       Matej Chalus  Malmö FF   Mjällby AIF      True
193      7       Matej Chalus  Malmö FF           AIK     False
216      7  Markus Björkqvist  Malmö FF   Mjällby AIF      True
217      7  Markus Björkqvist  Malmö FF           AIK     False

In [32]:
preprocess_col_gw(df_predict)
df_predict['round']

0        7
1        7
24       7
25       7
48       7
        ..
10335    7
10359    7
10383    7
10407    7
10408    7
Name: round, Length: 492, dtype: category
Categories (30, int64): [1 < 2 < 3 < 4 ... 27 < 28 < 29 < 30]

In [33]:
df_predict_transformed = preprocess(df_predict)

/usr/local/Caskroom/miniconda/base/envs/env/lib/python3.9/site-packages/sklearn/utils/validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)

### Make prediction

In [34]:
predicted = model.predict(df_predict_transformed)

In [35]:
df_predicted = pd.DataFrame(predicted)

In [36]:
df_predict.reset_index(drop=True, inplace=True)
df_predicted.reset_index(drop=True, inplace=True)
df_result = df_predict.join(df_predicted)
df_result.rename(columns={0: 'predicted_points'}, inplace=True)
df_result.sort_values(by='predicted_points', ascending=False, inplace=True)

# Print the top predicted points for round
df_result.head(20)

,round,name,team,opponent_team,was_home,predicted_points
297,7,Jonathan Levi,IFK Norrköping,Helsingborgs IF,False,8.46
458,7,Isaac Kiese Thelin,Malmö FF,AIK,False,7.92
409,7,Carlos Moros Gracia,Mjällby AIF,Malmö FF,False,7.85
251,7,Alexander Jeremejeff,BK Häcken,IFK Värnamo,False,7.26
9,7,Lasse Nielsen,Malmö FF,AIK,False,7.24
453,7,Dennis Hadzikadunic,Malmö FF,AIK,False,6.99
13,7,Felix Beijmo,Malmö FF,AIK,False,6.98
8,7,Lasse Nielsen,Malmö FF,Mjällby AIF,True,6.84
153,7,Nahir Besara,Hammarby,Kalmar FF,False,6.79
12,7,Felix Beijmo,Malmö FF,Mjällby AIF,True,6.74
1,7,Johan Dahlin,Malmö FF,AIK,False,6.67
452,7,Dennis Hadzikadunic,Malmö FF,Mjällby AIF,True,6.64
216,7,Rasmus Alm,IF Elfsborg,Djurgården,True,6.62
140,7,Mohanad Jeahze,Hammarby,Kalmar FF,False,6.60
336,7,Sotirios Papagiannopoulos,AIK,IFK Göteborg,True,6.55
208,7,Oliver Zandén,IF Elfsborg,Djurgården,True,6.50
412,7,Noah Persson,Mjällby AIF,Malmö FF,False,6.43
100,7,Robin Tihi,IFK Värnamo,BK Häcken,True,6.34
138,7,Simon Sandberg,Hammarby,Kalmar FF,False,6.33
343,7,Mikael Lustig,AIK,IFK Göteborg,True,6.33

In [37]:
df_result.tail()

,round,name,team,opponent_team,was_home,predicted_points
331,7,Budimir Janosevic,AIK,Malmö FF,True,0.00
97,7,Victor Andersson,IFK Värnamo,BK Häcken,True,0.00
96,7,Edvin Becirovic,IFK Värnamo,BK Häcken,True,0.00
491,7,Kyriakos Stamatopoulos,AIK,Malmö FF,True,0.00
58,7,Forrest Lasso,GIF Sundsvall,Degerfors IF,True,-0.01

### Add "predicted point/cost"

In [38]:
# Get latest price for every player
player_last_gw = df_train.copy()
last_gw_indices = player_last_gw.groupby('name')['round'].agg(pd.Series.idxmax)
player_last_gw = player_last_gw.iloc[last_gw_indices]
player_last_gw.set_index('name', inplace=True)
df_result['price (M)'] = df_result['name'].map(player_last_gw['value']/10)

# Calculate points/price
df_result['predicted_point_per_price'] = df_result['predicted_points']/df_result['price (M)']
df_result.sort_values(by=['predicted_point_per_price'], ascending=False, inplace=True)
df_result.head(30)

,round,name,team,opponent_team,was_home,predicted_points,price (M),predicted_point_per_price
412,7,Noah Persson,Mjällby AIF,Malmö FF,False,6.43,4.5,1.428889
409,7,Carlos Moros Gracia,Mjällby AIF,Malmö FF,False,7.85,5.5,1.427273
100,7,Robin Tihi,IFK Värnamo,BK Häcken,True,6.34,4.5,1.408889
81,7,Francis de Vries,IFK Värnamo,BK Häcken,True,5.62,4.0,1.405000
208,7,Oliver Zandén,IF Elfsborg,Djurgården,True,6.50,5.0,1.300000
138,7,Simon Sandberg,Hammarby,Kalmar FF,False,6.33,5.0,1.266000
79,7,Pilip Vaitsiakhovich,IFK Värnamo,BK Häcken,True,5.66,4.5,1.257778
9,7,Lasse Nielsen,Malmö FF,AIK,False,7.24,5.8,1.248276
135,7,Edvin Kurtulus,Hammarby,Kalmar FF,False,6.22,5.0,1.244000
111,7,Charlie Weberg,Helsingborgs IF,IFK Norrköping,True,5.35,4.5,1.188889
8,7,Lasse Nielsen,Malmö FF,Mjällby AIF,True,6.84,5.8,1.179310
13,7,Felix Beijmo,Malmö FF,AIK,False,6.98,6.0,1.163333
85,7,Victor Eriksson,IFK Värnamo,BK Häcken,True,5.19,4.5,1.153333
133,7,Oliver Dovin,Hammarby,Kalmar FF,False,5.64,5.0,1.128000
12,7,Felix Beijmo,Malmö FF,Mjällby AIF,True,6.74,6.0,1.123333
1,7,Johan Dahlin,Malmö FF,AIK,False,6.67,6.0,1.111667
407,7,Ivan Kricak,Mjällby AIF,Malmö FF,False,4.98,4.5,1.106667
404,7,Noah Eile,Mjällby AIF,Malmö FF,False,5.34,4.9,1.089796
453,7,Dennis Hadzikadunic,Malmö FF,AIK,False,6.99,6.6,1.059091
0,7,Johan Dahlin,Malmö FF,Mjällby AIF,True,6.29,6.0,1.048333
452,7,Dennis Hadzikadunic,Malmö FF,Mjällby AIF,True,6.64,6.6,1.006061
140,7,Mohanad Jeahze,Hammarby,Kalmar FF,False,6.60,6.7,0.985075
332,7,Kristoffer Nordfeldt,AIK,IFK Göteborg,True,5.90,6.0,0.983333
403,7,Samuel Brolin,Mjällby AIF,Malmö FF,False,4.99,5.1,0.978431
286,7,Daniel Eid,IFK Norrköping,Helsingborgs IF,False,5.28,5.4,0.977778
343,7,Mikael Lustig,AIK,IFK Göteborg,True,6.33,6.5,0.973846
322,7,Romario Pereira Sipião,Kalmar FF,Hammarby,True,5.70,5.9,0.966102
297,7,Jonathan Levi,IFK Norrköping,Helsingborgs IF,False,8.46,8.9,0.950562
320,7,Carl Gustafsson,Kalmar FF,Hammarby,True,4.74,5.0,0.948000
336,7,Sotirios Papagiannopoulos,AIK,IFK Göteborg,True,6.55,7.0,0.935714